    *{
            box-sizing: border-box;
            margin: 0%;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction:column;
        }
        header{
            background-color: red;
            display: flex;
            align-items: center;
            padding: 20px;
        }
        header ul{
            list-style: none;
            display: flex;    
        }
        header a{
            color: aliceblue;
        }
        a{
            text-decoration: none;
        }
        #logo{
            margin: 0 auto; 
            font-size: 50px;
            text-shadow: 2px 2px 5px blue; 

        }
        #menu li{
            padding: 10px;           
        }
        #social-links li{
            padding: 10px;
        }
        #main{
            display: flex;            
        }
        .services{
            display: flex;
            justify-content: space-between;
        }
        .service-box{
            border: 1px solid gray;
            flex-basis: 32%;
            max-width: 370%;
            padding: 10px;
            display: flex;
            flex-direction:column ;
            margin: 10px;
        }
        .service-box img{
        width: 100%;
        height: 300px;
        object-fit: cover;
       }
        aside{
           
            background-color:beige;
            flex: 0 0 15vw;
            padding: 5px;           
        }
        aside ul{
            list-style: none;
        }
        aside ul a{
        display: block;
        padding: 10px;
        color: red;
        border-bottom: 1px solid red;
        }
        a:hover{
            color: lightslategrey;
        }
       aside img{
        width: 90%;
        height: 100px;
        float: right;
        margin: 10px;
        object-fit: cover;
        }      
        article p{
           padding: 10px;
        }
    .order a{
        background-color: grey;
        color: white;
        padding:8px 13px ;
        display: block;
        border: 2px solid transparent;
    }
    .order a:hover{
        background-color: transparent;
        color:grey;
        border: 2px solid grey;
    }
    .order{
        margin-top: auto;
        align-self: flex-start;
    }
        footer{
            text-align:right ;
            background-color:red;
            padding: 10px;
            color: white;
        }
      
    .service-box h2{
        margin: 5px 0 8px;
    } 
    .service-box p{
        margin:0 0 5px ;
    }
    article p{
        margin:0;
        padding: 0 10px;
    }
    article h1{
        margin: 10px;
    }
    article h3{
        margin: 10px;
    }
    /* @media screen and (max-width:700px) {
        #logo{
            font-size: 30px;
            text-shadow: 1px 1px 5px blue; 

        }
        #menu li{
            padding: 5px;           
        }
        #social-links li{
            padding: 5px;
        }
        header{
            min-width: 500px;
            padding: 0px;
            justify-content: center;
            height: 200px;
        }
        .services{
            display: flex;
            flex-direction:column;
            justify-content: space-between; 
        }
        .service-box{
            width: 300px;
        }
        .service-box img{
        width: 100%px;
        height: 200px;
        object-fit: cover;
       }
       footer{
        text-align: center;
       }
       aside{
        background-image: url(/food.jpg);
        width:100px;
        height: 1000px;
       }
       aside ul a{
        color: white;
        border:2px solid black;
        background-color: blue;
           text-align: left;
            padding: 10px;
       }
    } */